name: flutter_barcode_keyboard_listener
description: Demonstrates how to use the flutter_barcode_keyboard_listener plugin.
version: 0.0.2
repository: "https://github.com/FrenkyDema/flutter_barcode_keyboard_listener"


environment:
  sdk: '>=2.18.0 <3.0.0'
  flutter: ">=2.5.0"

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.1.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.1

flutter:
  plugin:
    platforms:
      android:
        package: com.example.flutter_barcode_keyboard_listener
        pluginClass: FlutterBarcodeKeyboardListenerPlugin