name: qrcode_barcode_scanner
description: Plugins to manage the reading of QR code or barcode from an external device as a keyboard.
version: 3.0.3
repository: "https://github.com/FrenkyDema/qrcode_barcode_scanner"

environment:
  sdk: '>=3.1.0 <4.0.0'
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.1.8

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ">=4.0.0 <7.0.0"

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:
  plugin:
    platforms:
      android:
        package: com.example.qrcode_barcode_scanner
        pluginClass: QrcodeBarcodeScannerPlugin
